<div class="inner-banner">
    <div class="inner-banner-details">
        <h1>Contact Us</h1>
        <div class="breadcrums">
            <ul>
                <li><a ui-sref="home">Home</a></li>
                <li><a ui-sref="contact">Contact</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="inner-content">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
            <h3 class="contact-heading">Let's Talk</h3>
            <form action="" class="contact-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <label for="">First Name</label>
                  <input type="text" class="form-control" placeholder="Enter your first name">
                </div>
                <div class="col-md-6 form-group">
                  <label for="">Last Name</label>
                  <input type="text" class="form-control" placeholder="Enter your last name">
                </div>
                <div class="col-md-6 form-group">
                  <label for="">Email</label>
                  <input type="email" class="form-control" placeholder="Enter your email">
                </div>
                <div class="col-md-6 form-group">
                  <label for="">Phone</label>
                  <input type="text" class="form-control" placeholder="Enter your phone number">
                </div>
                <div class="col-md-12 form-group">
                  <label for="">Message</label>
                  <textarea name="" id="" class="form-control" cols="5" placeholder="Enter your comment" style="height:auto !important"></textarea>
                </div>
                <div class="col-md-12 form-group">
                  <button type="button" name="button" class="btn btn-bc">Submit</button>
                </div>
              </div>
            </form>
            <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2455.7540780841414!2d-0.7571443842969899!3d52.01135898155113!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4876554efe7eb30d%3A0x384749eb5483fe92!2s37+Favell+Dr%2C+Furzton%2C+Milton+Keynes+MK4+1AL%2C+UK!5e0!3m2!1sen!2sin!4v1520599392518" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe> -->
        </div>
        <div class="col-md-6">
           <h3 class="contact-heading">Contact Details</h3>
            <div class="contact-details">
              <div class="sidber-box help-widget">
                  <h4 class="logo-color font-weight-600">Call now to book this holiday</h4>
                  <h2><i class="fa fa-phone" aria-hidden="true"></i> 0208 050 4205 </h2>
                  <a href="#" class="email"><i class="fa fa-envelope" aria-hidden="true"></i> info@sunnybreaksholidays.co.uk  </a>
                  <div class="separator"></div>
                  <h4 class="logo-color font-weight-600">Customer Service</h4>
                  <h2><i class="fa fa-phone" aria-hidden="true"></i> 0208 050 4205 </h2>
                  <a href="#" class="email"><i class="fa fa-envelope" aria-hidden="true"></i> cs@sunnybreaksholidays.co.uk  </a>
                  <!-- <a href="#" class="email"><i class="fa fa-map-marker" aria-hidden="true"></i> 37 Favell Drive, Fruzton, Milton Keynes,MK4 1AL  </a> -->
                  <div class="separator"></div>
                  <h4 class="logo-color font-weight-600">Opening Hours</h4>
                  <table class="table table-colored">
                      <thead>
                        <tr>
                          <th>Description</th>
                          <th>Week</th>
                          <th>Timings</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>For Booking</td>
                          <td>Monday - Sunday</td>
                          <td>08:00 AM to 11:00 PM</td>
                        </tr>
                        <tr>
                          <td>Customer Service</td>
                          <td>Monday - Saturday</td>
                          <td>09:00 AM to 05:00 PM</td>
                        </tr>
                        <tr>
                          <td>Customer Service</td>
                          <td>Sunday</td>
                          <td class="logo-color font-weight-600">Closed</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
            </div>
            <br />
        </div>

      </div>
    </div>
</div>
