<div class="footer">
  <div class="footer-top counter-inner">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="footer-top-sections">
              <div class="footer-top-sections-left">
                  <i class="fas fa-globe"></i>
              </div>
              <div class="footer-top-sections-right">
                  <h2>10,0000</h2>
                  <h5>Beach Holidays</h5>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="footer-top-sections">
              <div class="footer-top-sections-left">
                  <i class="fas fa-home"></i>
              </div>
              <div class="footer-top-sections-right">
                  <h2>20,0000</h2>
                  <h5>Holidays</h5>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="footer-top-sections">
              <div class="footer-top-sections-left">
                  <i class="fas fa-user-secret"></i>
              </div>
              <div class="footer-top-sections-right">
                  <h2>15,0000</h2>
                  <h5>Hotels</h5>
              </div>
            </div>
          </div>
          
        </div>
      </div>
  </div>
  <div class="footer-middle get-offer">
      <div class="container">
          <div class="row">
              <div class="col-sm-5">
                  <span>Subscribe to our Newsletter</span>
                  <h2 class="margin-0">&amp; Discover the best offers!</h2>
              </div>
              <div class="col-sm-7">
                  <form id="form">
                    <div class="input-group">
                        <input type="email" class="form-control" placeholder="Enter Your Email" id="email" name="email">
                        <div class="input-group-btn">
                            <button class="btn btn-default" onclick="myFunction()" type="button"><i class="flaticon-paper-plane"></i> Subscribe</button>
                        </div>
                    </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="footer-bottom-top">
            <div class="col-md-5">
                <h3>Sunny Breaks</h3>
                <p><b>Sunny Breaks Financial Protection</b></p>
                <p>Many of the flights and flight-inclusive holidays on this website are financially protected by the ATOL scheme. But ATOL protection does not apply to all holiday and travel services listed on this website. Please ask us to confirm what protection may apply to your booking. If you do not receive an ATOL Certificate then the booking will not be ATOL protected. If you do receive an ATOL Certificate but all the parts of your trip are not listed on it, those parts will not be ATOL protected. Please see our booking conditions for information.</p>
            </div>
            <div class="col-md-3">
                <h3>Information</h3>
                <ul class="categoty">
                    <li><a href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i> About Us</a></li>
                    <li><a href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i> Contact Us</a></li>
                    <li><a href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i> Testimonials</a></li>
                    <li><a href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i> Terms and Conditions</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3>Contact</h3>
                
                <div class="address">
                    <i class="far fa-clock"></i>
                    <p> 0208 050 4205</p>
                </div>
                <div class="address">
                    <i class="far fa-envelope"></i>
                    <p> <a href="#" class="__cf_email__">info@sunnybreaksholidays.co.uk</a></p>
                </div>
							  <div class="pre-header">
                   <ul class="social-link clearfix">
                      <li><a href="#" class="fb" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                      <li><a href="#" class="twit" target="_blank"><i class="fab fa-twitter"></i></a></li>
                      <li><a href="#" class="gp" target="_blank"><i class="fab fa-google-plus"></i></a></li>
							        <li><a href="#" class="gp" target="_blank"><i class="fab fa-instagram"></i></a></li>
                      <li><a href="#" class="yt" target="_blank"><i class="fab fa-youtube"></i></a></li>
                  </ul>
                </div>
            </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="container">
      <div class="row">
        <div class="footer-bottom-bottom">
            <p class="text-center">&copy; 2018 Sunny Breaks Holidays. All rights reserved</p>
        </div>
      </div>
    </div>
  </div>
</div>
