<div class="header">
  <div class="header-top">
    <div class="container">
      <div class="row">
        <div class="col-md-6 left-link">
          <ul>
  		        <li>
                <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i> cs@sunnybreaksholidays.co.uk</a>
              </li>
              <li>
                <a href="#"><i class="fa fa-phone" aria-hidden="true"></i> 0208 050 4205 </a>
              </li>
          </ul>
        </div>
        <div class="right-link col-md-6">
            <ul>
                <li>
                  <a href="/home"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a>
                </li>
                <li>
                  <a href="/contact" title="Mon - Sat 09:00 AM to 05:00 PM"><i class="fa fa-phone" aria-hidden="true"></i>  Customer Support</a>
                </li>
            </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="header-moddle">
    <div class="container">
      <div class="row logo-section">
        <div class="col-md-3">
          <a href="/home" class="navbar-brand">
            <img src="/assets/images/logo_size_icon_invert.jpg" class="img-resposive" alt="Sunny Breaks Holidays" >
              <!-- <img src="/assets/images/logo.jpg" class="img-resposive" alt="" > -->
          </a>
        </div>
        <div class="col-md-6 logo-header text-center">
        <!-- <h4 class="">Sunny <span>Breaks Holidays</span> -->
        <img src="/assets/images/dark_logo_transparent_background.png" class="img-resposive" alt="Sunny Breaks Holidays" >
        </h4>

        </div>
        <div class="col-md-3">


          <img src="/assets/images/hundered_percent.png" class="img-responsive1 pull-right img-100label" style="">
          <img src="/assets/images/tta_log.png" class="img-responsive1 pull-right " style="">
      </div>
      </div>
    </div>
  </div>
  <div class="header-menu">
    <nav class="navbar navbar-default">
      <div class="container">
        <ul class="nav navbar-nav">
          <li ui-sref-active="active"><a ui-sref="home">Home</a></li>

          <li >
            <a href="#"  >Beach Destinations

            </a>
          </li>
          <li><a href="#">Last Minute</a></li>
          <li><a href="#">All Inclusive</a></li>
          <li><a href="#">Deals of the week</a></li>
          <li><a href="#">Long Haul</a></li>
          <li ui-sref-active="active"><a ui-sref="contact">Contact Us</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="header-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p class="">Low Deposits from  £59 pp</p>
        </div>
        <div class="col-md-6">
          <p class=" pull-right">Call now to book your holiday <span class="call">0208 050 4205</span></p>
        </div>
      </div>
    </div>
  </div>
</div>
